<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Products</title>
</head>
<body>
{% extends 'base1.html' %}
{% block container %}
    <h3>User : {{ user.username }}</h3>
    <h3>Category : {{ category.name }}</h3>
    <table class="table table-bordered">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Category
            <th>Delete</th>
        </thead>
        <tbody>
            {% for product in list_products %}
            <tr>
                <td>
                    {{product.id}}
                </td>
                <td>
                    {{product.name}}
                </td>
                <td>
                    {{product.price}}
                </td>
                <td>
                    {{product.category}}
                </td>
                <td>
                    <a href="">
                        <button value="delete">Delete</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock %}
</body>
</html>