<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Products</title>
</head>
<body>
{% extends 'base1.html' %}
{% block container %}
    <p>
        <a href="{{request.META.HTTP_REFERER}}">
            <button class="btn btn-warning">
                <span class="fa fa-hand-o-left"> Go back</span>
            </button>
        </a>
    </p>
    <h3>Category: {{category.name}}</h3>
    {% if product_list %}
        <table class="table table-bordered">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>Description</th>
                <th>Image</th>
            </tr>
            <tbody>
            {{product_list}}
            {% for product in product_list %}
                <tr>

                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.category}}</td>
                    <td>{{product.description}}</td>
                    <td><img src="{{product.photo}}" alt="{{product.photo}}"></td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <blockquote>
            <p>Nothing to show in {{category}} here!</p>
        </blockquote>
    {% endif %}
{% endblock %}
</body>
</html>